

<app-header ></app-header>
<app-side-bar (searchjobs)="searchjobs($event)" [employeeList]="employeeList"  ></app-side-bar>
  
<div style="margin-left:15%;padding:1px 16vm;height:100vh;">
  <app-search class="mb-5"></app-search> 
  <!-- (refreshPage)="refreshPage()" (clickedWord)="clickedWord($event)" (Addemployee)="Addemployee($event)" (searchBox)="SearchWord($event)" (searchFilters)="Searcherfilter($event)" ></app-search> -->
  <!-- <app-emp-result [employeeList]="filterdEmplist" ></app-emp-result> -->
</div>
