<ng-template #content  let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div><!--  pop up form -->
    <div class="modal-body">
        <form #newemployee="ngForm" >
            <div class="form-group">
                <label for="firstname">First Name</label>
                <div class="input-group">
                    <input id="first" placeholder="Enter Frist Name.." class="form-control" ngModel name="fristName" >
                </div>
                <label for="firstname">Last Name</label>
                <div class="input-group">
                    <input id="last"  class="form-control" placeholder="Enter Last Name" ngModel name="lastName">
                </div>
                <label for="firstname">Preferred Name </label>
                <div class="input-group">
                    <input id="preferred" class="form-control" placeholder="Enter Preferred Name" ngModel name="preferredName">
                </div>
                <label for="email">Email</label>
                <div class="input-group">
                    <input  id="email" class="form-control" placeholder="Enter Email ID" ngModel name="email">
                </div>
                <label for="Job Title">Job Title :</label>
                <div class="input-group">
                    <select id="Job Title"ngModel name="jobTitle" class="form-control">                                               
                        <option value="" disabled selected hidden>Select Job Title....</option>
                        <option value="SharePoint Practice Head">SharePoint Practice Head </option>
                        <option value=".Net Developer Leads">.Net Developer Leads</option>
                        <option value="Recruting Expert">Recruting Expert</option>
                        <option value="BI Developert">BI Developert</option>                    
                        <option value="Bussiness Analysis">Bussiness Analysis</option>
                    </select>
                </div>
                
                <label for="Office">Office  :</label>
                <div class="input-group">
                <select id="Office" ngModel name="office"  class="form-control">                                           
                    <option value="" disabled selected hidden>Select Office.....</option>
                    <option value="India">India</option>
                    <option value="seattle">seattle</option>
                </select>
                </div>
                <label for="Department">Department  :</label>
                <div class="input-group"> 
                <select id="Department" ngModel name="department" class="form-control">                       
                    <option value="" disabled selected hidden>Select Department....</option>
                    <option value="IT">IT</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="MD">MD</option>
                    <option value="Sales">Sales</option>
                </select>
                </div>
                <label for="phonenumber">Phone Number :</label>
                <div class="input-group">
                    <input  id="Phone" class="form-control" placeholder="Enter Phone Number" ngModel name="phoneNumber">
                </div>
                <label for="skypeid">Skype ID</label>
                <div class="input-group">
                    <input id="skype" class="form-control" placeholder="Enter skypeid" ngModel name="skypeId">
                </div>
                <div class=" text-left">
                    <button data-dismiss="modal" type="submit" class="btn btn-info mt-2 ">Submit</button></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" >Close</button>    
    </div>    
</ng-template>

