<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
        <img height="45px" src="./../../../assets/saketa.png">
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-4" href="#"><h4 style="color:rgb(148, 217, 226) ">Employee Directory</h4>The Ultimate People Directory Experience</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <p class="nav-item text-primary">WELLCOME, </p><p>Andrew Philips</p>            
        </ul>
      </div>
    </div>    
  </nav>
<HR>
  
  <app-side-bar></app-side-bar>
  
  <div style="margin-left:15%;padding:1px 16px;height:100px;">
    <app-search></app-search>
    <app-emp-result></app-emp-result>
  </div>

  