<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
        <img height="45px" src="./../../../assets/saketa.png">
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-4" href="#"><h4 style="color:rgb(148, 217, 226) ">Employee Directory</h4>The Ultimate People Directory Experience</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <p class="nav-item text-primary">WELLCOME, </p><p>Andrew Philips</p>   
          <i class="pi pi-user"></i>         
        </ul>
      </div>
    </div>    
  </nav>
<HR>
  

  